.person__image {
  background: #8d0606 center no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 300px;
  margin: 0 auto;
  width: 300px;
}

.person__image--roberta {
  background-image: url('../../img/pessoas/roberta.jpg');
}

.person__image--marcela {
  background-image: url('../../img/pessoas/marcela.jpg');
}

.person__image--andreia {
  background-image: url('../../img/pessoas/andreia.jpg');
}

@media (max-width: 930px) {
  .person__image {
    height: 200px;
    width: 200px;
  }
}

@media (max-width: 650px) {
  .person__image {
    height: 150px;
    width: 150px;
  }
}