* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  list-style-position: inside;
}

body, #root {
  /* background: black url('../images/plains_and_river.jpg') no-repeat center fixed;
  background-size: cover; */
  font-size: 18px;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

form * {
  width: 50%;
}

canvas {
  max-width: 300px;
  width: 100%;
  height: 60%;
}

.random_word_container {
  padding-inline: 10px;
}

#letters {
  background-color: #303030;
  max-width: 600px;
  width: 100%;
  height: 200px;
}

.modes__item {
  cursor: pointer;
  max-width: max-content;
  margin: 10px auto;
}